<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{title}} – {% endif %}Grow</title>
    <link rel="shortcut icon" href="/_grow/assets/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/_grow/ui/css/editor.min.css">
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="content__header">
          header
        </div>
        <div class="content__preview content__preview--mobile">
          <div class="preview">
            preview
          </div>
        </div>
      </div>
      <div class="sidebar">
        <div class="sidebar__content">
          <div class="info info__info">
            Preview is updated on save.
          </div>
        </div>
        <div class="sidebar__save">
          <label>
            <input type="checkbox" name="autosave" id="autosave">
            Autosave
          </label>
          <button>Save Changes</button>
        </div>
      </div>
    </div>

    <script src="/_grow/ui/js/editor.min.js"></script>
  </body>
</html>
