{% set default_path = '/' ~ path %}
{% set home_doc = pod.get_home_doc() %}
{% if home_doc and not path %}
  {% set default_path = home_doc.pod_path %}
{% endif %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{title}} – {% endif %}Grow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/_grow/assets/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://code.getmdl.io/1.3.0/material.blue_grey-deep_purple.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/_grow/ui/css/editor.min.css">
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="content__header">
          <div class="content__path">
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" id="pod_path" value="{{default_path}}">
              <label class="mdl-textfield__label" for="pod_path">Pod path</label>
            </div>
          </div>
          <label class="content__device mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect" for="content_device">
            <input type="checkbox" id="content_device" class="mdl-icon-toggle__input">
            <i class="mdl-icon-toggle__label material-icons">devices</i>
          </label>
        </div>
        <div class="content__preview">
          <iframe class="preview" data-host="{{meta.host}}" data-port="{{meta.port}}"></iframe>
        </div>
      </div>
      <div class="sidebar">
        <div class="sidebar__content">
          <div class="info info__info mdl-shadow--3dp">
            Preview is updated on save.
          </div>
          <div class="fields"></div>
        </div>
        <div class="sidebar__save">
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="autosave">
            <input type="checkbox" id="autosave" class="mdl-switch__input">
            <span class="mdl-switch__label">Autosave</span>
          </label>
          <button class="mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect">
            Save
          </button>
        </div>
      </div>
    </div>

    <template id="template_field_text">
      <div class="field field__text">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="" value="">
          <label class="mdl-textfield__label" for=""></label>
        </div>
      </div>
    </template>

    <template id="template_field_textarea">
      <div class="field field__textarea">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <textarea class="mdl-textfield__input" type="text" rows="3" id=""></textarea>
          <label class="mdl-textfield__label" for=""></label>
        </div>
      </div>
    </template>

    <template id="template_field_markdown">
      <div class="field field__markdown">
        <div class="field__markdown__label"></div>
        <div class="pell"></div>
      </div>
    </template>

    <template id="template_field_list">
      <div class="field field__list">
        <div class="list">
          <div class="list__label"></div>
          <div class="list__items">
            <div class="list__list"></div>
            <div class="list__add">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Add
              </button>
            </div>
          </div>
        </div>
      </div>
    </template>

    <template id="template_partial">
      <div class="partial">
        <div class="partial__label"></div>
        <div class="partial__fields"></div>
      </div>
    </template>

    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="/_grow/ui/js/editor.min.js"></script>
  </body>
</html>
