<nav class="side_nav">
  {% set cat = {'category': None, 'is_first': True} %}
  {% for item in g.collection(partial.collection) %}
    {% if cat.category != item.category %}
      {% if not cat.is_first %}
        {# When this is not the first category close the previous category list. #}
        </ul>
      {% endif %}
      <h3>{{item.category}}</h3>
      {% if cat.update({'category': item.category, 'is_first': False}) %}{% endif %}
      <ul class="nav nav-stacked">
    {% endif %}
      <li{% if doc == item %} class="active"{% endif %}>
        <a href="{{item.url.path}}">{{item.titles('side')}}</a>
      </li>
  {% endfor %}
  {# Close off the last category list. #}
  </ul>
</nav>
