[run]
omit =
    grow/commands/*  # Don't know a good way to test the commands correctly.
    grow/common/ca_certs_locater.py  # Doesn't do anything.
    grow/common/patched_site.py  # Requirement of extensions.
    grow/server/manager.py  # Dev server doesn't need to be tested.
    grow/templates/jinja_dependency.py  # Copied from upstream.
