[submodule "grow/submodules/requests"]
	path = grow/submodules/requests
	url = git://github.com/kennethreitz/requests.git
[submodule "grow/submodules/werkzeug"]
	path = grow/submodules/werkzeug
	url = git://github.com/mitsuhiko/werkzeug.git
[submodule "grow/submodules/google-apputils-python"]
	path = grow/submodules/google-apputils-python
	url = git://github.com/grow/google-apputils-python.git
        ignore = dirty
[submodule "grow/submodules/httplib2"]
	path = grow/submodules/httplib2
	url = git://github.com/jcgregorio/httplib2.git
[submodule "grow/submodules/pytz"]
	path = grow/submodules/pytz
	url = git://github.com/newvem/pytz.git
[submodule "grow/submodules/babel"]
	path = grow/submodules/babel
	url = git://github.com/mitsuhiko/babel.git
[submodule "grow/submodules/dulwich"]
	path = grow/submodules/dulwich
	url = git://github.com/jelmer/dulwich.git
[submodule "grow/submodules/pyyaml"]
	path = grow/submodules/pyyaml
	url = git://github.com/yaml/pyyaml.git
[submodule "grow/submodules/google-protorpc"]
	path = grow/submodules/google-protorpc
        url = git://github.com/jeremydw/google-protorpc
[submodule "grow/submodules/jinja2"]
	path = grow/submodules/jinja2
	url = https://github.com/mitsuhiko/jinja2
[submodule "grow/submodules/markupsafe"]
	path = grow/submodules/markupsafe
	url = git://github.com/mitsuhiko/markupsafe
[submodule "grow/submodules/webapp-improved"]
	path = grow/submodules/webapp-improved
	url = git://github.com/moraes/webapp-improved
[submodule "grow/submodules/webob"]
	path = grow/submodules/webob
	url = git://github.com/Pylons/webob
[submodule "grow/submodules/paste"]
	path = grow/submodules/paste
	url = git://github.com/jeremydw/paste
[submodule "grow/submodules/python-gflags"]
	path = grow/submodules/python-gflags
	url = git://github.com/jeremydw/python-gflags
[submodule "grow/submodules/google-api-python-client"]
	path = grow/submodules/google-api-python-client
	url = git://github.com/musicmetric/google-api-python-client
[submodule "grow/submodules/dnspython"]
	path = grow/submodules/dnspython
	url = https://github.com/rthalley/dnspython
[submodule "grow/submodules/Python-Markdown"]
	path = grow/submodules/Python-Markdown
	url = git://github.com/waylan/Python-Markdown
[submodule "grow/submodules/boto"]
	path = grow/submodules/boto
	url = https://github.com/boto/boto.git
