# Grow Dependencies

[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
babel = "==2.6.0"
"beautifulsoup4" = "==4.6.0"
boltons = "==18.0.1"
boto = "==2.49.0"
certifi = "==2018.4.16"
click = "==6.7"
colored = "==1.3.93"
dulwich = "==0.19.5"
"gcs-oauth2-boto-plugin-grow" = "==1.14"
gitpython = "==2.1.10"
# Newer versions cause the gaenv testing to fail.
google-api-python-client = "==1.3.2"
googleappenginecloudstorageclient = "==1.9.22.1"
goslate = "==1.5.1"
"html2text" = "==2018.1.9"
"httplib2" = "==0.11.3"
"jinja2" = "==2.10"
libsass = "==0.14.5"
markdown = "==2.6.11"
markupsafe = "==1.0"
# Pyinstaller ImportError: file_cache is unavailable when using oauth2client >= 4.0.0
"oauth2client" = "==3.0.0"
paramiko = "==2.4.1"
"progressbar2" = "==3.38.0"
# Unable to use non-unicode strings: https://github.com/google/protorpc/issues/26
protorpc = "==0.11.1"
"pyasn1" = "==0.4.3"
pycrypto = "==2.6.1"
pygments = "==2.2.0"
pytz = "==2018.5"
pyyaml = "==3.13"
requests = "==2.19.1"
semantic-version = "==2.6.0"
# Transitive Dependency having issues: https://github.com/benjaminp/six/issues/210
six = "==1.10.0"
texttable-fixed = "==0.8.3"
translitcodec = "==0.4.0"
"urllib3[secure]" = "==1.23"
watchdog = "==0.8.3"
webob = "==1.8.2"
webreview = "==0.1.0"
werkzeug = "==0.14.1"


[dev-packages]
astroid = "==1.6.5"
"backports.functools-lru-cache" = "==1.5"
codecov = "==2.0.15"
configparser = "==3.5.0"
coverage = "==4.5.1"
# Dependency for pyinstaller: https://github.com/pyinstaller/pyinstaller/issues/3065
dis3 = "==0.1.2"
# https://github.com/PyCQA/pylint/issues/1388
"enum34" = ">=1.1.3"
ez-setup = "==0.9"
gaenv = "==0.1.10.post0"
mock = "==2.0.0"
nose = "==1.3.7"
nosegae = "==0.5.10"
pyinstaller = "==3.3.1"
pylint = "==1.9.2"
rednose = "==1.3.0"
singledispatch = "==3.4.0.3"
# Transitive Dependency having issues: https://github.com/benjaminp/six/issues/210
six = "==1.10.0"
stdlib-list = "==0.4.0"
twine = "==1.11.0"
"webapp2" = "==2.5.2"
funcsigs = "*"


[requires]

python_version = "2.7"
