[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
babel = ">=2.6.0"
boltons = ">=19.2.0"
click = ">=6.7"
# https://gitlab.com/dslackw/colored/issues/14
colored = "==1.3.93"
markdown = ">=2.6.11"
protorpc = ">=0.12.0"
pyyaml = ">=5.1.2"
semantic_version = ">=2.8.2"
python-slugify = ">=4.0.0"

[dev-packages]
codecov = ">=2.0.15"
coverage = ">=4.5.1"
mock = ">=2.0.0"
nose = ">=1.3.7"
pylint = ">=2.4.3"
rednose = ">=1.3.0"

[requires]
python_version = "3"
