# Grow Dependencies

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
babel = "==2.8.0"
"beautifulsoup4" = "==4.9.0"
boltons = "==20.1.0"
cachelib = "==0.1"
certifi = "==2020.4.5.1"
click = "==7.1.1"
colored = "==1.4.2"
dulwich = "==0.19.15"
gitpython = "==3.1.1"
google-api-python-client = "==1.8.0"
goslate = "==1.5.1"
"html2text" = "==2020.1.16"
"httplib2" = "==0.17.2"
"jinja2" = "==2.11.2"
markdown = "==3.2.1"
markupsafe = "==1.1.1"
# Pyinstaller ImportError: file_cache is unavailable when using oauth2client >= 4.0.0
"oauth2client" = ">=3.0.0"
paramiko = "==2.7.1"
"progressbar2" = "==3.50.1"
protorpc = "==0.12.0"
"pyasn1" = "==0.4.8"
pygments = "==2.6.1"
python-slugify = "==4.0.0"
pytz = "==2019.3"
pyyaml = "==5.3.1"
requests = "==2.23.0"
semantic-version = "==2.8.5"
texttable-fixed = "==0.8.3"
translitcodec = "==0.5.2"
"urllib3[secure]" = "==1.25.8"
watchdog = "==0.10.2"
webob = "==1.8.6"
webreview = "==0.2.1"
werkzeug = "==1.0.1"

[dev-packages]
astroid = "==2.3.3"
"backports.functools-lru-cache" = "==1.6.1"
codecov = "==2.0.22"
configparser = "==5.0.0"
coverage = "==5.1"
ez-setup = "==0.9"
funcsigs = "*"
gaenv = "==0.1.10.post0"
mock = "==4.0.2"
nose = "==1.3.7"
nosegae = "==0.5.10"
pyinstaller = "==3.6"
pylint = "==2.4.4"
rednose = "==1.3.0"
singledispatch = "==3.4.0.3"
stdlib-list = "==0.6.0"
twine = "==3.1.1"

[requires]
python_version = "3"
