GitPython
GoogleAppEngineCloudStorageClient
Markdown
WebOb
babel
boto
certifi
closure==20140110
dnspython
dulwich
ez_setup
gcloud
git+git://github.com/jeremydw/google-apputils-python.git@master#egg=google_apputils
goslate
httplib2
jinja2
libsass
markupsafe
paramiko
polib
premailer
progressbar2
protorpc-standalone
python-gflags
pytz
pyyaml
requests
git+git://github.com/bufordtaylor/python-texttable.git@master#egg=texttable
translitcodec
webapp2
werkzeug
xtermcolor
