Babel==1.3
GitPython==0.3.2.RC1
GoogleAppEngineCloudStorageClient==1.9.5.0
Jinja2==2.7.2
Markdown==2.4
MarkupSafe==0.19
PyYAML==3.10
WebOb==1.3.1
Werkzeug==0.9.4
boto==2.22.1
certifi==1.0.0
closure==20140110
dnspython==1.11.1
dulwich==0.9.6
ez-setup==0.9
gcloud==0.02.2
git+git://github.com/bufordtaylor/python-texttable.git@master#egg=texttable
git+git://github.com/jeremydw/google-apputils-python.git@master#egg=google_apputils
goslate==1.1.2
httplib2==0.9
libsass==0.3.0
paramiko==1.13.0
polib==1.0.4
premailer==1.13
progressbar2==2.6.2
protorpc-standalone==0.9.1
python-gflags==2.0
pytz==2014.4
requests==2.2.1
translitcodec==0.3
webapp2==2.5.2
xtermcolor==1.3
