Babel==2.2.0
GitPython==1.0.1
GoogleAppEngineCloudStorageClient==1.9.5.0
Jinja2==2.9.5
Markdown==2.6.6
MarkupSafe==0.19
PyYAML==3.11
WebOb==1.3.1
Werkzeug==0.11.10
beautifulsoup4==4.4.0
boltons==16.4.1
boto==2.40.0
certifi==1.0.0
click==4.0
contentful.py==0.9.3
dulwich==0.13.0
gcs-oauth2-boto-plugin-grow==1.14
google-api-python-client==1.3.1
goslate==1.4.0
html2text==2015.6.21
httplib2==0.9.1
keyring==8.7
keyrings.alt==1.1.1
libsass==0.11.1
oauth2client==2.1.0
paramiko==1.15.1
progressbar2==2.6.2
protorpc==0.11.1
pyasn1==0.1.8
pycrypto==2.6.1
pygments==2.0.2
pytz==2014.4
requests==2.3.0
semantic_version==2.4.1
texttable-fixed==0.8.3
translitcodec==0.4.0
watchdog==0.7.1
webreview==0.0.63
xtermcolor==1.3
