<!doctype html>
<meta charset="utf-8">
<title>Grow – The open web's next generation CMS</title>
<link rel="icon" href="/public/images/growicon.png">
<link rel="stylesheet" href="/public/css/main.css">
<body>
  <header>
    <div class="wrap">
      <h1>
        <i></i>
        <a href="/">Grow</a>
      </h1>
      <nav>
        <ul>
          <li><a href="/docs/try-grow/">Get Started</a>
          <li><a href="/docs/">Docs</a>
          <li><a href="/project/">Project</a>
        </ul>
      </nav>
    </div>
  </header>
  <main>
  {% block main %}
    <div class="home">

      <div class="hero">
        <div class="wrap">
          <h2>{{g.doc.tagline}}</h2>
          <p>{{g.doc.subtitle}}</p>
          <a class="btn btn-lg btn-default" href="{{g.doc.cta.url}}">
            {{g.doc.cta.title}}
            <i>›</i>
          </a>
          <p class="subcta">{{g.doc.subcta|safe}}</p>
        </div>
      </div>

        <div class="row wrap">
        <h2>{{g.doc.heading}}</h2>

        <div class="row callouts">
          {% for callout in g.doc.callouts %}
          <div class="col-sm-3">
            <h3>{{callout.title}}</h3>
            {{callout.description}}
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="row-alt">

        <div class="row windows wrap">

          <h2>{{g.doc.managed.heading}}</h2>
          <div class="subtitle">{{g.doc.managed.subtitle}}</div>

          <div class="col-sm-4">
            <cite>{{g.doc.managed.col1.heading}}</cite>
            <div class="window">
              <div class="title">
                {{g.doc.managed.col1.title}}
              </div>
              <div class="body">
                <div class="code">{{g.doc.managed.col1.body}}</div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <cite>{{g.doc.managed.col2.heading}}</cite>
            <div class="window">
              <div class="title">
                {{g.doc.managed.col2.title}}
              </div>
              <div class="body">
                <div class="code">{{g.doc.managed.col2.body}}</div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <cite>{{g.doc.managed.col3.heading}}</cite>

            <div class="window">
              <div class="title">
                Edit: Hello, Grow!
              </div>
              <div class="body">
                <label>Title</label>
                <div>
                  <input type="text">
                </div>

                <label>Tagline</label>
                <div>
                  <input type="text">
                </div>

                <label>Features</label>
                <div>
                  <input type="text">
                </div>
                <div>
                  <input type="text">
                </div>
                <div>
                  <input type="text">
                </div>

                <label>Body</label>
                <div>
                  <textarea></textarea>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
        <div class="row wrap windows">
          <h2>{{g.doc.startup.heading}}</h2>
          <div class="row">
            <div class="col-sm-6">
              <div class="window">
                <div class="title">Using the Grow SDK</div>
                <div class="body">
                  <div class="code">{{g.doc.startup.instructions}}</div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="window">
                <div class="title">Using Grow in the Cloud</div>
                <div class="body">
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
  {% endblock %}
  </main>
  <footer>
    <div class="wrap">
      <nav class="pull-right">
        <h3>Resources</h3>
        <ul>
          <li><a href="/project/">About the project</a>
          <li><a href="/why/">Why Grow?</a>
        </ul>
      </nav>
      <p>Grow is an <a href="https://github.com/grow">open source project</a> by the <a href="https://github.com/grow/pygrow/blob/master/AUTHORS">Grow authors</a>.
      <p><cite>Except as otherwise noted, this site is licensed under the Creative Commons Attribution 3.0 License.</cite>
    </div>
  </footer>
  <div class="banner label label-danger">
    Grow is under development.<br>
    You're viewing a pre-release.
  </div>
