<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="{{g.static('/static/css/main.min.css')}}">
<link rel="shortcut icon" href="{{g.static('/static/images/icon.png')}}">
<title>{{doc.title}} – {{podspec.title}}</title>
<body class="{{doc.class}}">
<header class="cf">
  <div class="wrap">
    {% set index_doc = g.doc('/content/pages/index.html') %}
    <a href="{{index_doc.url.path}}" class="growlogo">
      <img src="{{g.static('/static/images/grow.svg')}}">
      Grow SDK
    </a>
    <i>Alpha</i>
    <nav class="navbar">
    <ul>
      <li><a href="{{g.url('/content/codelab/0.md').path}}">Start</a>
      <li><a href="{{g.url('/content/docs/index.md').path}}">Docs</a>
      <!-- li><a href="{{g.url('/content/pages/themes.html').path}}">Themes</a -->
      <li><a href="{{g.url('/content/pages/project.html').path}}">About</a>
    </nav>
  </div>
</header>
{% block main %}
  {% if doc.format == 'MARKDOWN' %}
    <div class="wrap">
      {{doc.html|render|safe}}
    </div>
  {% else %}
    {{doc.html|render|safe}}
  {% endif %}
{% endblock %}
<footer>
  <div class="flex wrap">
    <div class="col">
      <p>The Grow SDK is released under the <a href="https://github.com/grow/pygrow/blob/master/LICENSE">MIT License</a>. Except otherwise noted, documentation is released under <a href="http://creativecommons.org/licenses/by/3.0/us/">CC 3.0</a>. Some icons are from <a href="http://flatties.uiparade.com">Flatties</a>.
    </div>
    <div class="col">
      <p>
        <i class="fa fa-chevron-left"></i><i class="fa fa-chevron-right"></i>
        <a href="https://github.com/grow/pygrow/graphs/contributors">Made by the Grow SDK Authors</a>. <a href="https://github.com/grow/growsdk.org">Edit this on GitHub</a>.
    </div>
  </div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-44018013-3', 'growsdk.org');
  ga('send', 'pageview');
</script>
