{% extends '/views/docs.html' %}

{% block main %}
  <div class="block__main">
    <div class="split_columns split_columns--reverse">
      {% set side_partial = { 'collection': 'codelab' } %}
      {% with partial = side_partial %}
        {% include "/partials/side_nav/side_nav.html" with context %}
      {% endwith %}
      {% block main_content %}
        <div class="pad readable_lines">
          {% include "/views/partials.html" %}

          <div class="relative_nav">
            {% set prev_doc = doc.prev() %}
            {% if prev_doc %}
              <a href="{{prev_doc.url.path}}" class="button button--icon-start">
                <i class="material-icons">arrow_back</i>
                {{prev_doc.title}}
              </a>
            {% endif %}
            {% set next_doc = doc.next() %}
            {% if next_doc %}
              <a href="{{next_doc.url.path}}" class="button button--icon-end">
                {{next_doc.title}}
                <i class="material-icons">arrow_forward</i>
              </a>
            {% endif %}
          </div>
        </div>
      {% endblock %}
    </div>
  </div>
{% endblock %}
