{% extends "/views/base.html" %}

{% block main %}
  <div class="wrap">
    <div class="panel">
      <nav class="side">
        {% for category, docs in g.categories(doc.collection) %}
          <h3>{{category}}</h3>
          <ul class="nav nav-stacked">
            {% for item in docs %}
            <li{% if doc == item %} class="active"{% endif %}>
              <a href="{{item.url.path}}">{{item.titles('nav')}}</a>
            {% endfor %}
          </ul>
        {% endfor %}
      </nav>
      <section>
        {{doc.html|safe}}
      </section>
    </div>
  </div>
{% endblock %}
