{% extends "/views/_base.html" %}

{% block main %}
  <div class="wrap">
    <div class="row">
      <div class="col-md-3">
        <nav>
          {% for category, docs in g.categories(g.content.blueprint) %}
            <h3>{{category}}</h3>
            <ul class="nav nav-stacked">
              {% for doc in docs %}
              <li{% if g.content == doc %} class="active"{% endif %}>
                <a href="{{doc.url}}">{{doc.title}}</a>
              {% endfor %}
            </ul>
          {% endfor %}
        </nav>
      </div>
      <div class="col-md-9">
        {{g.content.html|safe}}
      </div>
    </div>
  </div>
{% endblock %}
