{% extends '/views/base.html' %}

{% block head %}
  <link href="{{ g.static('/dist/css/composite/docs.min.css').url.path }}" rel="stylesheet">
{% endblock %}

{% block main %}
  <div class="block__main">
    <div class="split_columns split_columns--reverse">
      {% set side_partial = { 'collection': 'docs' } %}
      {% with partial = side_partial %}
        {% include "/partials/side_nav/side_nav.html" with context %}
      {% endwith %}
      {% block main_content %}
        <main class="main_column pad readable_lines">
          <h1>{{doc.title}}</h1>
          {% include "/views/partials.html" %}
        </main>
        {% set has_toc = 'class="toc"' in doc.html %}
        {% if has_toc %}
          {% set first_div = doc.html.find('</div>') %}
          <aside class="toc_column">
            <h3>In this document</h3>
            {{doc.html[0:first_div + 6] | safe}}
          </aside>
        {% endif %}
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="{{ g.static('/dist/js/composite/docs.min.js').url.path }}"></script>
{% endblock %}
