{% extends "/views/docs.html" %}

{% block main_content %}
  <div class="cse search">
    <script>
      (function() {
        var cx = '011663957360509412455:ezl2dwzh6fa';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
  </div>
{% endblock %}
