// Primary Colors
$color-p: #455a64
$color-p-l: #718792
$color-p-d: #1c313a
$color-on-p: #ffffff
$color-on-p-l: #000000
$color-on-p-d: #ffffff

// Secondary Colors
$color-s: #512da8
$color-s-l: #8559da
$color-s-d: #140078
$color-on-s: #ffffff
$color-on-s-l: #ffffff
$color-on-s-d: #ffffff

// Utility Colors
$color-text: #455a64
$color-back: #fefefe
$color-back-l: #f5f5f5
$color-back-d: #9e9e9e
$color-on-back: #000000
$color-on-back-l: #455a64
$color-on-back-d: #455a64
$color-shadow: #000000

// Speeds
$speed-slow: 400ms
$speed-fast: 250ms

// Padding unit
$pad: 1em

*
  box-sizing: border-box

body
  background-color: $color-back-l
  font-family: 'Roboto', sans-serif
  margin: 0
  padding: 0

.container
  display: flex
  flex-flow: row
  min-height: 100vh

.content
  display: flex
  flex-flow: column
  flex-grow: 1

.content__header
  display: flex
  padding: $pad

.content__path
  flex-grow: 1
  padding: 0 $pad 0 0

  .mdl-textfield
    padding: 0
    width: 100%

  .mdl-textfield__label
      top: 4px

  .mdl-textfield__label:after
    bottom: 0

.content__preview
  align-items: stretch
  display: flex
  flex-grow: 1
  justify-content: center

.sidebar
  display: flex
  flex-flow: column
  flex-basis: 25vw
  max-height: 100vh

.sidebar__content
  flex-grow: 1
  overflow-y: auto

.sidebar__save
  align-items: center
  display: flex
  flex-flow: row
  flex-shrink: 0
  justify-content: space-between
  padding: $pad

.preview
  background-color: $color-back
  border: none
  color: $color-on-back
  flex-grow: 1

.content__preview--mobile
  align-items: center

  .preview
    flex-grow: 0
    height: 732px
    width: 412px

.info
  background-color: $color-back
  border-radius: $pad/2
  color: $color-on-back
  margin: $pad
  padding: $pad

.info__info
  background-color: #e1f5fe

.field
  margin: $pad
