@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);
@import url(bootstrap.min.css);

html {
}

body {
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 200;
  margin: 0;
}

h1,
h2,
h4 {
  margin-top: 0;
  margin-bottom: .83em;
  font-weight: 300;
} 

h3 {
  margin-bottom: .83em;
  font-style: italic;
  font-weight: 300;
}

p,
pre,
ul {
  margin-bottom: 24px;
}

.banner {
  box-sizing: border-box;
  border-radius: 0;
  position: fixed;
  padding: 5px 10px;
  line-height: inherit;
  right: 0;
  top: 0;
  z-index: 200;
}

header h1 a,
header h1 a:hover {
  font-weight: 400;
  color: inherit;
  text-decoration: none;
}

a {
  color: #097be8;
  text-decoration: none;
}

article {
  background: #fff;
  border-bottom-width: 2px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  padding: 0px 30px 20px;
  margin: 20px 0;
}

.wrap {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
}

main .wrap {
  padding: 40px 20px;
}

header {
  background: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0));
  border-bottom: 1px solid #ddd;
  background-color: #e8ebef;
  background-repeat: no-repeat;
  position: fixed;
  z-index: 200;
  left: 0;
  right: 0;
  top: 0;
}

header h1 i {
  background: url(/public/images/growlogo.png) no-repeat center;
  float: left;
  height: 32px;
  margin: 0 8px 0 0;
  display: inline-block;
  padding: 15px;
  box-sizing: border-box;
  width: 32px;
}

header h1 {
  display: inline-block;
  float: left;
  font-family: Dosis, Helvetica Neue, Arial, sans-serif;
  font-weight: 300;
  font-size: 28px;
  color: #000;
  text-transform: uppercase;
  margin: 2px 60px 0 0;
  padding: 0;
}

main {
  background: #fff;
  padding: 0 0 30px 0;
  position: relative;
  margin: 75px 0 150px;
  z-index: 101;
}

header nav {
  height: 35px;
  display: inline-block;
}

header nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

header nav ul li {
  display: inline-block;
  line-height: 35px;
}

header nav ul li a {
  color: #000;
  font-size: 18px;
  display: inline-block;
  padding: 0 15px;
  margin: 0 10px;
}

footer {
  background: #3f4245;
  bottom: 0;
  border-top: 5px solid #333;
  box-sizing: border-box;
  color: #ddd;
  height: 150px;
  left: 0;
  padding: 20px;
  position: fixed; 
  right: 0;
  z-index: 100;
}

footer p {
  margin-bottom: 10px;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer nav h3 {
  color: #fff;
  font-style: normal;
  font-weight: bold;
}

footer p a {
  font-weight: bold;
}

footer a,
footer a:hover {
  color: #fff;
}

footer cite,
footer nav ul {
  font-size: 11px;
}

footer nav ul {
  list-style: none;
}

footer nav ul li {
  margin: 5px 0;
}

.hero .btn {
  background: rgba(255, 255, 255, .2);
  color: #fff;
  font-family: Dosis, Helvetica Neue, Arial, sans-serif;
  line-height: 35px;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
}

.hero .subcta,
.hero .subcta a {
  color: black;
}

.hero .subcta a {
  border-bottom: 1px solid rgba(0, 0, 0, .25);
}

.hero .subcta a:hover {
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1.0);
}

.hero .subcta {
  margin: 40px 0 0 0;
  font-size: 14px;
}

.hero .btn:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, .5);
  border-color: #fff;
}

.hero .btn i {
  font-family: Roboto, Arial, sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  margin: 0 0 0 10px;
  position: relative;
  top: 2px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 40px;
}

.hero {
  background: #0072ff url(/public/images/pattern.png);
  color: #fff;
  padding: 30px 0 40px 0;
  text-align: center;
}

h2 {
  line-height: 40px;
}

nav h3 {
  color: #666;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  margin-top: 0;
  text-transform: uppercase;
}

nav .nav {
  margin-bottom: 35px;
}

nav .nav > li > a {
  padding: 2px 5px;
}

nav .nav > li.active > a {
  font-weight: bold;
  border-left: 2px solid #0072ff; 
  color: #000;
}

/**
 * Home.
 */

.window {
  margin: 20px 0;
}

.window .title {
  display: block;
  text-align: center;
  margin: 0 5px;
  padding: 5px 0;
  border-radius: 5px 5px 0 0;
  background: -webkit-linear-gradient(top, #f7f7f7 0%,#cfcfcf 7%,#aaaaaa 100%);
  box-shadow: 0 3px 10px rgba(0,0,0,.5);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.window .body {
  color: #fff;
  padding: 20px;
  text-shadow: none;
  margin: 0 5px;
  background: #3d3d3d;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 5px 30px rgba(0,0,0,.3);
  font-size: 12px;
  height: 200px;
  overflow-y: auto;
}

.window .body .code {
  white-space: pre;
}

.windows cite {
  display: block;
  text-align: center;
}

.windows > .col-md-4 {
  margin-top: 40px;
}


.home h2,
.home h3 {
  text-align: center;
}

.callouts {
  text-align: center;
}

.callouts h3 {
  font-size: inherit;
  font-weight: bold;
  font-style: normal;
}

.home .row-alt {
  background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0));
  background-color: #dedede;
  background-repeat: no-repeat;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.home .subtitle {
  font-weight: bold;
  text-align: center;
}
