#grow
  all: revert

  .grow__buttons
    bottom: 0
    padding: 20px
    position: fixed
    right: 0
    z-index: 9999

    .grow__buttons__button
      background: #333
      border-radius: 100%
      box-shadow: 3px 3px 5px rgba(0, 0, 0, .25)
      height: 60px
      width: 60px
      margin: 7px 0 0
