<header class="header">
  <div class="header__logo">
    <a href="{{podspec.home.url.path}}">
      <img src="{{g.static('/static/images/grow.svg').url.path}}">
      Grow
    </a>
  </div>
  <nav class="header__nav nav">
    <div class="nav__items nav__items--end">
      {% set nav_docs = [
        g.doc('/content/codelab/0.md'),
        g.doc('/content/docs/index.md'),
        g.doc('/content/pages/project.yaml'),
        g.doc('/content/pages/search.yaml'),
        g.doc('/content/pages/styleguide.yaml'),
      ] %}
      {% for item in nav_docs %}
        {% if not item.has_serving_path() %}{% continue %}{% endif %}
        <a class="nav__items__item {{"nav__items__item--active" if doc == item}}" href="{{item.url.path}}">{{item.titles('nav')}}</a>
      {% endfor %}
    </div>
  </nav>
</header>
