$break-small: 700px;
$color-button: #7e57c2;

$color-primary: #097be8;
$color-accent: #fc3f80;
$color-secondary: #24c6da;
$color-dark: #35474e;

$font-family-brand: 'Dosis', 'Helvetica Neue', arial, sans-serif;
$font-family-main: 'Open Sans', 'Helvetica Neue', arial, sans-serif;
