.home {
  header {
    background: transparent;
    box-shadow: none;
    position: absolute;
    width: 100%;

    i,
    .growlogo {
      display: none;
    }
  }
}

.hero {
  background-color: $color-dark;
  color: #fff;
  padding: 0 0 30px;
  text-align: center;

  .growlogo {
    margin: 100px 0 15px;
  }

  h1 {
    font-family: $font-family-main;
    font-weight: 200;
  }
}
