.home {
  header {
    background: transparent;
    box-shadow: none;
    position: absolute;
    width: 100%;

    i,
    .growlogo {
      display: none;
    }
  }
}

.hero {
  background-image: url(../images/pattern.png), linear-gradient(45deg, #362d6c 0%,#0c5593 100%);
  background-color: #362d6c;
  color: #fff;
  padding: 0 0 30px;
  text-align: center;

  .growlogo {
    margin: 100px 0 15px;
  }
}
