body {
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: $color-dark;
  font-family: $font-family-main;
  font-size: 15px;
  margin: 0;
}

a {
  color: inherit;
  border-bottom: 1px dotted rgba(0, 0, 0, .5);
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, .5);
}

code {
  background: #efefef;
  border-radius: 3px;
  font-family: Monaco,Menlo,Consolas,'Courier New',monospace;
  font-size: 12px;
  padding: 2px 4px;
}

pre code {
  background: initial;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: $font-family-main;
  font-weight: 500;
  color: black;
  clear: both;
  letter-spacing: -0.01em;
}

h4 {
  margin-top: 3em;
}

p {
  line-height: 1.5em;
  margin: 1.75em 0;
}

.wrap.main {
  padding: 50px 15px;
}

.home .wrap {
  max-width: 1000px;
}

.wrap {
  margin: 0 auto;
  max-width: 1200px;
  padding: 15px;
}

.index .wrap {
  max-width: 900px;
}

.flex {
  display: flex;
}

.panel a {
}

.panel {
  display: flex;
  margin: 30px 0;
  @media screen and (max-width: $break-small) {
    display: block;
  }
}

.toolbar small {
  display: inline-block;
  margin: 10px 0;
}

.panel.text summary {
  padding-right: 20px;
}

.panel.text summary:last-child {
  padding-left: 20px;
  padding-right: 0;
}

.panel.callouts summary {
  padding: 0 45px 0;
  text-align: center;
}

.panel.callouts .image {
  display: block;
  margin-bottom: 20px;
  min-height: 50px;
}

.image img {
  height: 100px;
  width: 100px;
}

.panel summary,
.panel nav.side,
.panel section {
  -webkit-box-flex: 1;
  flex: 1;
}

.panel section {
  margin: 10px 0 2em;
}

.panel section > h1 {
  margin-top: 0;
}

.docs {
  table {
    margin: 40px 0;
    width: 100%;
  }

  table,
  table tr td,
  table tr th {
    @include frosted-background();
    border-collapse: collapse;
    border: 1px solid #dedede;
  }

  table thead {
    font-size: .8em;
    font-weight: bold;
  }

  table tr td,
  table tr th {
    padding: 9px;
  }

  table tr th {
    background: #efefef;
    font-weight: 300;
    text-align: left;
  }
}

.panel nav.side {
  @include frosted-background();
  @include shadow();
  box-sizing: border-box;
  font-size: 13px;
  margin-right: 50px;
  max-width: 230px;
  padding: 20px;
}

.panel nav.side ul li {
  margin-bottom: 8px;

  a {
    border: none;

    &:hover {
      color: $color-primary;
    }
  }
}

.panel nav.side ul li.active a {
  color: inherit;
  font-style: italic;
  font-weight: bold;
}

.panel nav.side ul {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
}

.panel nav.side h3 {
  font-size: 14px;
  font-weight: 600;
}

.toolbar {
  margin: 40px 0 20px;
}

.toolbar .button {
  margin-right: 5px;
}

.button {
  @include button();
  border: none !important;
  font-weight: 500;
}

.button.button--inverted {
  background: #fff;
  color: $color-dark;
}

.button.button-primary {
  background: $color-primary;
  color: #fff;
}

.button i {
  margin: -2px 7px -2px -2px;
  float: left;
}

.button:hover {
  @include button-hover();
}

.banner {
  @include inverted-background();
  padding: 30px 20px;
  text-align: center;
}

.banner h2 {
  text-align: center;
}

section h2 {
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  margin-top: 2em;
  padding-bottom: 5px;
}

section h3 {
  font-weight: 600;
  margin-top: 2em;
}

.disclaimer {
  font-size: 11px;
}

header {
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  background-position: bottom;
  color: #fff;
  background-image: url(../images/pattern.svg);
  background-size: cover;
  font-size: 18px;
  box-sizing: border-box;
  margin: 0;
}

header i {
  font-size: 11px;
  color: #d1c4e9;
  text-transform: uppercase;
  margin-left: 6px;
  display: inline-block;
}

.growlogo {
  border: none !important;
  color: inherit;
  display: inline-block;
  font-family: $font-family-brand;
  font-size: 25px;
  font-weight: 500;
  line-height: 40px;
  text-transform: uppercase;

  &.big {
    font-size: 60px;

    img {
      margin-top: -10px;
      height: 100px;
      width: 100px;
    }
  }

  &:hover {
    text-decoration: none;
  }

  img {
    vertical-align: middle;
    margin: -5px 9px 0 0;
    height: 35px;
    width: 35px;
  }
}

footer {
  background: #fafafa;
  font-size: 12px;
}

footer p {
  margin: 1.25em 0;
}

footer a {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
}

nav.navbar,
nav.navbar ul,
nav.navbar ul li {
  display: flex;
}

nav.navbar {
  float: right;
}

nav.navbar ul,
nav.navbar ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.navbar ul li a {
  color: #fff;
  display: inline-block;
  font-weight: 500;
  list-style: none;
  margin: 0 13px;
  padding: 10px 0;
  text-decoration: none;
  transition: all 300ms ease;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
}

nav.navbar ul li a:hover {
  border-bottom: 4px solid #00e5ff;
}

nav.side h3 {
  font-size: 14px;
  font-weight: bold;
}

nav.side h3:first-child {
  margin-top: 0;
}

div.toc:before {
  content: 'In this document';
  font-weight: bold;
}

pre {
  background: #f8f8f8;
  border: 1px solid #ddd;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  line-height: 125%;
  margin-bottom: 0;
  padding: 20px;
  white-space: pre-wrap;
}

.code .highlight + br {
  display: none;
}

div.toc {
  @include frosted-background();
  @include shadow();
  box-sizing: border-box;
  float: right;
  font-size: 13px;
  margin: 0 0 30px 30px;
  padding: 20px;
  width: 230px;

  a {
    border: none;

    &:hover {
      color: $color-primary;
    }
  }
}

div.toc ul {
  list-style: none;
}

div.toc li {
  margin-bottom: 5px;
}

div.toc li ul {
  margin: 15px 0;
}

div.toc > ul > li > a {
  display: none;
}

div.toc > ul {
  margin-bottom: 0;
}

div.toc > ul,
div.toc > ul > li > ul {
  padding: 0;
}

div.toc > ul li ul ul {
  padding-left: 15px;
}

footer .flex {
  @media screen and (max-width: $break-small) {
    display: block;
  }
}

.col {
  -webkit-box-flex: 1;
  flex: 1;
}

footer .col:last-child {
  text-align: right;
  @media screen and (max-width: $break-small) {
    text-align: left;
  }
}

footer i {
  margin-top: 4px;
}

.banner ul {
  list-style: none;
  margin: 0 auto;
  max-width: 275px;
  padding: 0;
}

.banner ul li {
  display: inline-block;
  height: 60px;
  padding: 10px;
  width: 60px;
}

.banner ul li img {
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
  height: 100%;
  width: 100%;
}

.banner ul li img:hover {
  @include button-hover();
}

ul.codelab {
  @include frosted-background();
  border-radius: 7px;
  list-style: none;
  margin: 0 0 40px;
  padding: 0;
}

ul.codelab li {
  display: inline-block;
}

ul.codelab li a {
  color: inherit;
  border: none !important;
  display: inline-block;
  padding: 10px 15px;
}

ul.codelab li:first-child a {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

ul.codelab li:last-child a {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

ul.codelab li a:hover {
  @include button-hover();
  text-decoration: none;
}

ul.codelab li.active a {
  @include inverted-background();
}

.badge {
  font-size: 13px;
  font-weight: 300;
  padding: 6px 8px 6px 10px;
  border-left-size: 2px;
  background-color: #efefef;
  border-left: 6px solid #999;
}

.badge-docs-incomplete {
  background-color: #e5ecf9;
  border-left-color: #36c;
}

.screencast {
  margin: 40px auto;
  max-width: 900px;
}

.screencast iframe {
  box-shadow: 0 3px 10px rgba(0,0,0,.5);
  border: 0;
  background: #000;
  border-radius: 0 0 8px 8px;
  height: 420px;
  width: 100%;
}

.screencast .title {
  display: block;
  text-align: center;
  padding: 5px 0;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 3px 10px rgba(0,0,0,.5);
  font-size: 13px;
  font-weight: 500;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  background: #f7f7f7;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top,#f7f7f7 0%, #cfcfcf 7%, #aaaaaa 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(7%,#cfcfcf), color-stop(100%,#aaaaaa));
  background: -webkit-linear-gradient(top,#f7f7f7 0%,#cfcfcf 7%,#aaaaaa 100%);
  background: -o-linear-gradient(top,#f7f7f7 0%,#cfcfcf 7%,#aaaaaa 100%);
  background: -ms-linear-gradient(top,#f7f7f7 0%,#cfcfcf 7%,#aaaaaa 100%);
  background: linear-gradient(top,#f7f7f7 0%,#cfcfcf 7%,#aaaaaa 100%);
  border-bottom: 1px solid #555;
}

.video-wrap {
  @include button-hover();
  margin: 30px auto;
  max-height: 675px;
  max-width: 888px;
}

.video {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  position: relative;
}

.video iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
