@mixin shadow() {
  box-shadow: rgba(0,0,0,0.05902) 0px 1px 10px 0px,rgba(0,0,0,0.09804) 0px 1px 3px 0px;
}

@mixin button() {
  background: $color-primary;
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.1), 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 12px 20px;
  text-decoration: none;
  transition: all 300ms ease;
}

@mixin button-hover() {
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.2), 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

@mixin frosted-background() {
  background: #fafafa;
}

@mixin inverted-background() {
  background-color: $color-dark;
  color: #fff;
}
